<div class="timeline-dot" style="--year: 2016;"></div>
<div class="timeline-item" style="--year: 2016;">
    <div class="timeline-content">
        <div class="timeline-year">2016</div>
        <div class="timeline-name">WaveNet</div>
        <div class="timeline-author">Oord et al.</div>
    </div>
</div>
<div class="timeline-connector" style="--year: 2016;"></div>
<div class="timeline-dot" style="--year: 2017;"></div>
<div class="timeline-item" style="--year: 2017;">
    <div class="timeline-content">
        <div class="timeline-year">2017</div>
        <div class="timeline-name">Neural Synthesis</div>
        <div class="timeline-author">Engel et al.</div>
    </div>
</div>
<div class="timeline-connector" style="--year: 2017;"></div>
<div class="timeline-dot" style="--year: 2019;"></div>
<div class="timeline-item" style="--year: 2019;">
    <div class="timeline-content">
        <div class="timeline-year">2019</div>
        <div class="timeline-name">DDSP</div>
        <div class="timeline-author">Engel et al.</div>
    </div>
</div>
<div class="timeline-connector" style="--year: 2019;"></div>
<div class="timeline-dot" style="--year: 2020;"></div>
<div class="timeline-item" style="--year: 2020;">
    <div class="timeline-content">
        <div class="timeline-year">2020</div>
        <div class="timeline-name">Automatic Mixing</div>
        <div class="timeline-author">Steinmetz et al.</div>
    </div>
</div>
<div class="timeline-connector" style="--year: 2020;"></div>
<div class="timeline-dot" style="--year: 2021;"></div>
<div class="timeline-item" style="--year: 2021;">
    <div class="timeline-content">
        <div class="timeline-year">2021</div>
        <div class="timeline-name">RAVE</div>
        <div class="timeline-author">Caillon & Esling</div>
    </div>
</div>
<div class="timeline-connector" style="--year: 2021;"></div>
<div class="timeline-dot" style="--year: 2022;"></div>
<div class="timeline-item" style="--year: 2022;">
    <div class="timeline-content">
        <div class="timeline-year">2022</div>
        <div class="timeline-name">CLAP</div>
        <div class="timeline-author">Benjamin, et al.</div>
    </div>
</div>
<div class="timeline-connector" style="--year: 2022;"></div>
<div class="timeline-dot" style="--year: 2024;"></div>
<div class="timeline-item" style="--year: 2024;">
    <div class="timeline-content">
        <div class="timeline-year">2024</div>
        <div class="timeline-name">Stable Audio</div>
        <div class="timeline-author">Evans et al.</div>
    </div>
</div>
<div class="timeline-connector" style="--year: 2024;"></div>
